.content-center {
    margin: 0 auto;
    max-width: 1300px;
}
.search-box{
    background-color: #efefef;
    padding: 10px 10px 10px 10px;
    border-radius:4px;
}

.has-error{
    color: #dc3545;
}
.has-error input{
    border-color:#dc3545;
}
label.required:after {content: " *"; color: red;}

.img-input-show{
    margin-top:5px;
}

li.required{
    background-color: #dc3545;
}
li.required a{
    color:#fff;
}